$colorPrimario: red;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin background() {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#app {
  background: $colorPrimario;
  nav {
    background: #fff;
    ul {
      li {
        a {
          color: #000;
        }
      }
    }
  }
}

html,
body,
#app {
  height: 100%;
}
