@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,400&display=swap");

@font-face {
  font-family: "Mexica-BoldSC";
  src: local("Mexica-BoldSC"),
    url("./assets/fonts/Mexica-BoldSC.otf") format("opentype");
}

@font-face {
  font-family: "AveFedan";
  src: local("AveFedan"), url("./assets/fonts/AveFedan.ttf") format("truetype");
}

$colorPrimario: rgb(255, 52, 52);

* {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  text-align: center;
}

body {
  margin: 0px;
}

@mixin background() {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#root {
  background-image: url("./assets/textured-wrap.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.bottom-decorator {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 300px;
  background-image: url("./assets/pop-texture.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.items-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 400px;
  margin-top: 100px;
  margin-bottom: 20px;
}

#nav {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 40px;
  a {
    color: #000;
    margin-right: 20px;
    &.active {
      color: $colorPrimario;
    }
  }
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin-top: 25px;
  font-family: "Mexica-BoldSC", serif;
  font-size: 60px;
  font-weight: bold;
  color: #243748;
}

h2 {
  margin-top: -55px;
  margin-bottom: 25px;
  font-family: "AveFedan", sans-serif;
  font-size: 70px;
  transform: rotate(-5deg);
  font-weight: bold;
  color: $colorPrimario;
}

.sauce-img {
  width: 100px;
  z-index: 2;
}

.normal-sauce {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 200px;
  height: 260.28px;
  background: #ffffff;
  box-shadow: 0px 4px 44px -20px rgba(0, 0, 0, 0.788);
  border-radius: 30px;
  .sauce-effect {
    display: none;
  }
  .sauce-banner {
    display: none;
  }
}

.highlighted-sauce {
  display: flex;
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  align-items: flex-end;
  justify-content: center;
  width: 612.37px;
  height: 375.35px;
  background: #b15050;
  box-shadow: 0px 4px 44px -20px rgba(0, 0, 0, 0.801);
  border-radius: 30px;
  .sauce-effect {
    position: absolute;
    mix-blend-mode: screen;
    height: 100%;
    border-radius: 30px;
  }
  .sauce-banner {
    position: absolute;
    top: 0;
    right: 15px;
  }
  .sauce-img {
    width: 175px;
    position: absolute;
  }
}

.sauce-banner-content {
  position: absolute;
  font-family: Mexica-BoldSC, serif;
  font-size: 40px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .small {
    font-size: 20px;
    margin-top: -5px;
    margin-bottom: 15px;
  }
}

.sauce-banner {
  position: absolute;
  top: 0;
  right: 15px;
  font-family: Mexica-BoldSC, serif;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
a {
  color: #000;
  text-decoration: none;
}
.cart-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin-right: 5px;
  margin-left: 5px;
  padding: 12px 23px;
  background: #FFFFFF;
  box-shadow: 0px 4px 44px -10px rgba(159, 0, 0, 0.25);
  border-radius: 11px;
  font-family: Mexica-BoldSC, serif;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background: #b15050;
    color: white;
  }
}
